apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b
spec:
  revisionHistoryLimit: 2
  replicas: 1
  selector:
    matchLabels:
      app: service-b
  template:
    metadata:
      labels:
        app: service-b
    spec:
      containers:
      - name: service-b
        image: asia-south1-docker.pkg.dev/gitops-self-healing-487407/docker-repo/service-b:v4
        ports:
        - containerPort: 5000
        livenessProbe:
          httpGet:
            path: /live
            port: 5000
          initialDelaySeconds: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 5000
          initialDelaySeconds: 5